body {
    position: relative;
}

h1 {
  position: absolute;
  top: 0;
  left: 10px;
  margin: 0;
}

.redirect-links {
  position: absolute;
  top: 0;
  right: 10px;
  margin: 10px;
}

.threads {
  position: relative;
  top: 100px;
}
