<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="static/styles_home.css">
        <!--Insert comments here-->
        <title>TestApp</title>
    </head>
    <body>
        <h1>Lorem ipsum</h1>
        <div class="redirect-links">
            {% if not session.username %}
            <a href="/login">Sign In<a/>
            <a href="/register">Sign Up</a>
            {% endif %}

            {% if session.username %}
            <a href="/logout">Sign Out</a>
            {% endif %}
        </div>
        <div class="user-info">
            {% if session.username %}
            <p>You are logged in as {{ session.username }}</p>
            {% endif %}
        </div>
        {% if session.username %}
        <div class="new-thread-button">
            <form action="/new_thread">
                <input type="submit" value="New Thread">
            </form>
        </div>
        {% endif%}
        <center>
            <div class="threads">
                {% for thread in threads %}
                <p>
                    {{thread}}
                </p>
                <hr>
                {% endfor %}
            </div>
        </center>
    <!--Insert threads here...-->
    <!--List of threads, sorting system?-->
    <!--Votes? Upvotes, Downvotes?-->
    </body>
</html>