<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <form action="/register" method="post">
            <input type="text" name="username">
            <input type="password" name="password">
            <input type="submit" value="Sign Up">
        </form>
    </body>
</html>